# Environnements virtuels Python
venv/
.env/

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers de logs
*.log

# Dossiers liés à l'IDE
.vscode/
.idea/

# Ignore specific script
pages/map_chart.py
